body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #35424a;
    color: #ffffff;
    padding: 10px 20px;
}

h1 {
    margin: 0;
}

button {
    background: #e8491d;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background: #ff4c3b;
}

#recipe-list {
    list-style: none;
    padding: 0;
}

.recipe-card {
    background: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#addRecipeForm {
    margin-top: 20px;
}

#addRecipeForm input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px); /* Adjust for padding */
}
